In [47]:
import numpy as np
import pandas as pd

In [48]:
sales = pd.read_csv("C:/Users/NICE/Desktop/Python_files/sales_returns.csv")
sales.head()

,Unnamed: 0,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,cust_age,cust_gender,...,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit,returned
0,18,19,CA-2015-143336,27/08/15,01/09/15,Second Class,ZD-21925,Zuschuss Donatelli,19,Female,...,West,OFF-AR-10003056,Office Supplies,Art,Newell 341,8.56,2,0.0,2.4824,True
1,19,20,CA-2015-143336,27/08/15,01/09/15,Second Class,ZD-21925,Zuschuss Donatelli,21,Female,...,West,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.48,3,0.2,16.0110,True
2,20,21,CA-2015-143336,27/08/15,01/09/15,Second Class,ZD-21925,Zuschuss Donatelli,22,Female,...,West,OFF-BI-10002215,Office Supplies,Binders,"Wilson Jones Hanging View Binder, White, 1""",22.72,4,0.2,7.3840,True
3,55,56,CA-2017-111682,17/06/17,18/06/17,First Class,TB-21055,Ted Butterfield,20,Female,...,East,OFF-ST-10000604,Office Supplies,Storage,Home/Office Personal File Carts,208.56,6,0.0,52.1400,True
4,56,57,CA-2017-111682,17/06/17,18/06/17,First Class,TB-21055,Ted Butterfield,19,Female,...,East,OFF-PA-10001569,Office Supplies,Paper,Xerox 232,32.40,5,0.0,15.5520,True

In [49]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
#sales.cust_age = enc.fit_transform(sales.cust_age)
sales.cust_gender = enc.fit_transform(sales.cust_gender)
sales.city= enc.fit_transform(sales.city)
sales.sub_category = enc.fit_transform(sales.sub_category)

In [50]:
X = sales.loc[:,['cust_age','cust_gender','quantity','city','sub_category','discount','sales']]
y = sales.returned

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 10)

In [52]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [53]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_predict)

0.8976982097186701

In [54]:
confusion_matrix(y_test,y_predict)

array([[142,  12],
       [ 28, 209]], dtype=int64)

In [55]:
pd.crosstab(y_test,y_predict)

col_0     False  True
returned
False       142     12
True         28    209

In [56]:
y_test.head()

102     False
307     False
1028     True
589      True
1017     True
Name: returned, dtype: bool

In [57]:
y_predict[0:5]

array([False, False,  True,  True,  True])